{% extends 'layout.html' %}

{% block title %} Buy {% endblock %}

{% block main %}

<div class="buy-container">
    <h1>Your current balance is {{ balance }}</h1>
    <h3>Sell stocks</h3>
    <form autocomplete="off" autofocus action="/sell" method="POST">
        <input class="form-control" placeholder="Symbol" name="symbol" type="search">
        <br>
        <h3>How many stocks do you want to sell?</h3>
        <input type="number" name="number" min="1" class="form-control" placeholder="Number">
        <br>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}